body {
    font-family: 'Nunito', sans-serif;
}
/* Cabeçalho da página */
.cabecalho {
    position: relative;
    background: #c4dbff;
    height: 140px;
    padding: 80px 100px 80px 100px;
    margin: 0px auto;
}

.avatar {
    height: 100px;
    border: 5px solid black;
    border-radius: 10px;
}

.texto {
    position: absolute;
    top: 90px;
    right: 10%;
}

.titulo {
    text-transform: capitalize;
    font-size: 30px;
    font-weight: 900;
}

.nav {
    padding-top: 15px;
}

.nav li {
    margin-left: 36px;
    display: inline;
}

.nav a {
    color: black;
    text-transform: lowercase;
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
}

.ancoras:hover {
    color: brown;
    font-style: italic;
}

.sociais {
    text-align: center;
    padding-right: 30%;
    padding-top: 10px;
}

/* Corpo */
.sobre {
    background: #9bc1ff;
    padding-top: 40px;
    padding-left: 50px;
    height: 140px;
}

.subtitulos {
    text-transform: capitalize;
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 20px;
}

.textos {
    font-size: 16px;
}

.skills {
    background: #66a1ff;
    padding: 40px 0 40px 50px;
}

.lista-skills {
    padding-top: 15px;
}

.lista-skills li {
    padding-bottom: 10px;
}

.projetos {
    background: #418aff;
    padding: 40px 0 40px 50px;
}

.lista-projetos {
    margin: 0 5% 0 5%;
}

.lista-projetos li {
    background: white;
    display: inline-block;
    text-align: center;
    width: 300px;
    height: 300px;
    vertical-align: top;
    margin: 2% 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid white;
    border-radius: 10px;
}

.lista-projetos li:hover {
    background-color: #418aff;
}

.lista-projetos a {
    text-decoration: none;
    color: black;
    font-weight: 700;
}

.imagens-projetos {
    height: 120px;
    margin-bottom: 20px;
}

.titulos-projetos {
    font-size: large;
}

.descricao-projetos {
    margin-top: 10px;
}

.copyright {
    background-color: #0062ff;
    height: 60px;
    text-align: center;
    padding-top: 50px;
}