body {
    font-family: 'Nunito', sans-serif;
}
/* Cabeçalho da página */
aside {
    padding-top: 3em;
    padding-bottom: 1px;
    float: left;
    width: 200px;
    position: relative;
    z-index: 1001;
    height: 100%;
    background: #002c72;
    display: block;
}

.cabecalho {
    text-align: center;
    position: fixed;
}

.avatar {
    height: 100px;
    border: 5px solid white;
    border-radius: 100px;
}

.texto {
    top: 90px;
    right: 10%;
    padding: 2em 2em;
    color: white;
}

.titulo {
    text-transform: capitalize;
    font-size: 30px;
    font-weight: 900;
}

.nav {
    padding-top: 3em;
}

.nav li {
    padding-bottom: 2em;
}

.nav a {
    color: white;
    text-transform: lowercase;
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
}

.ancoras {
    color: black;
}
.ancoras:hover {
    color: #818181;
    font-style: italic;
}

.main {
    position: absolute;
    left: 200px;
}

/* Corpo */
.sobre {
    background: #9bc1ff;
    padding-top: 40px;
    padding-left: 50px;
    height: 200px;
}

.sociais {
    text-align: right;
    padding-right: 30%;
    padding-top: 3em;
}

.sociais li {
    display: inline;
    font-size: xx-large;
    margin-left: 1em;
}
/* Skills */
.subtitulos {
    text-transform: capitalize;
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 20px;
}

.textos {
    font-size: 16px;
}

.skills {
    background: #66a1ff;
    padding: 40px 0 40px 50px;
    height: 200px;
}

.lista-skills {
    padding-top: 15px;
    padding-left: 25%;
}

.lista-skills li {
    padding-top: 1em;
    padding-left: 1em;
    font-size: xx-large;
    display: inline-block;
}

.projetos {
    background: #418aff;
    padding: 40px 0 40px 50px;
}

.lista-projetos {
    margin: 0 5% 0 5%;
}

.lista-projetos li {
    background: white;
    display: inline-block;
    text-align: center;
    width: 300px;
    height: 300px;
    vertical-align: top;
    margin: 2% 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid white;
    border-radius: 10px;
    transition: 400ms;
}

.lista-projetos li:hover {
    transform: scale(1.1);
}

.lista-projetos a {
    text-decoration: none;
    color: black;
    font-weight: 700;
}

.imagens-projetos {
    height: 120px;
    margin-bottom: 20px;
}

.titulos-projetos {
    font-size: large;
}

.descricao-projetos {
    margin-top: 10px;
}

.contato {
    background: #0053c0;
    height: 300px;
    padding: 40px 0 40px 50px;
}


.copyright {
    background-color: #002c72;
    color: white;
    height: 60px;
    text-align: center;
    padding-top: 50px;
}